@charset "UTF-8";
@font-face {
    font-family: 'neon';
    src: url(../fontes/Neon\ Android\ Italic.otf);
}
@font-face {
    font-family: 'bebas';
    src: url(../BebasNeue-Regular.ttf);
}  
:root {  
    color: #c5ebd6;
    color: #83e1ad
    color(srgb red green blue)  #3ddc84
    color(srgb red green blue) #2fa866
    color(srgb red green blue) #1a5c37
    color(srgb red green blue) #063d1e

    
     }

 body{ 
    background-color: #83e1ad;
    font-family: 'bebas';
    color: rgb(63, 53, 53);
 }

 header {
    background-color:#1a5c37;
}

 header > h1{
  color: white;
  font-family: 'neon';
  
}
 header > p {
    font-family: 'bebas';
 color: white;
    
}
 nav {
    background-color: #063d1e;
}
 main { 
    background-color: #c5ebd6;
     min-width: 280px;
     max-width: 800px;
     margin: auto;
}
img {
    width: 100%;
}
 main h1 {
    font-family: 'bebas';
    color: rgb(51, 45, 45)
    
}
 main h2 {

    font-family: 'bebas';
    color: rgb(51, 45, 45);
}
 footer{

    background-color: #063d1e;
    color: white;
}
