@charset "UTF-8";
/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/


@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
     font-weight: normal;

}



:root {  
    color: #c5ebd6;
    color: #83e1ad
    color(srgb red green blue)  #3ddc84
    color(srgb red green blue) #2fa866
    color(srgb red green blue) #1a5c37
    color(srgb red green blue) #063d1e

    --fonte-padrao: Arial, verdana, Helvetica,sans-serif;

    --fonte-destaque:"OFL";

    --font-android:"Android, cursive;"
 }
 body { 
    background-color:#c5ebd6;
    font-family:var(--fonte-padrao)
}
header {
    background-color:#1a5c37;
}

header > h1{

 color: white;
 font-family:var(--fonte-destaque);
 
}
 header > p {
 color: white;
    
}
nav {
    background-color: #063d1e;
}
main { background-color: white;

   
}

main h1 {

    color: #063d1e;
    font-family: var(--font-android);
}
main h2 {

    font-family: var(--fonte-android);
}
footer{


    background-color: #063d1e;
    color: white;
}